<div class="about-me-title">
    <h1 class="title">Sobre mim</h1>
</div>
<div class="main-content">
    <p class="main-text fade-in">Meu nome é Miguel Bittencourt, sou desenvolvedor Full Stack Junior e seja bem vindo ao meu portfolio!</p>
    <p class="main-text fade-in">
        Sou apaixonado por tecnologia e sempre fui interessado por essa área,
        tive contato cedo com programação, no ensino médio comecei a ver e aprender
        sobre e foi aí que descobri minha paixão, desde então sigo aprendendo e buscando
        experiência através de projetos pessoais e oportunidades de trabalho para me tornar
        o melhor profissional que posso ser, nunca perdendo o brilho nos olhos por essa carreira
        que escolhi para minha vida. ❤️😎🚀
    </p>
</div>

