  .header-container {
    background-color: #392c66;
    color: white;
    background: url(src/assets/banner-fhd.png) no-repeat;
    background-size: cover;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
  }

  .header-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 25px;
  }

  .links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
  }

  .links svg {
    height: 3em;
  }

  .header-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
  }
  
  .header-description {
    font-size: 30px;
    text-shadow: 
      0 0 5px #FFF,
      0 0 10px #FFF,
      5px 5px 4px #CE2BA0,
      5px 5px 4px #2146CE,
      5px 5px 4px #2146CE;
    color: #FFFFFF;
  }

  #foto-banner{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: #000000 4px solid;
    object-fit: cover;
  }

  @media screen and (max-width: 768px) {
    .header-container {
      padding: 30px;
      flex-direction: column;
    }
  
    .header-info {
      flex-direction: column;
      row-gap: 25px;
    }
  
    .header-links {
      flex-direction: row;
    }

    .header-links svg {
      height: 2.5em;
    }
  
    .header-text{
      flex-direction: column;
      font-size: 1rem;
    }
    
    .header-description {
      font-size: 2rem;
    }
  
    #foto-banner{
      width: 150px;
      height: 150px;
    }
  }
  