<div>
    <h1 class="title">Habilidades</h1>
</div>
<div class="main-content">
    <span class="language-border main-text">
        <app-loading></app-loading>
        <span>
            <fa-icon [icon]="faCircle" style="color: #ff605c;"></fa-icon>
            <fa-icon [icon]="faCircle" style="color: #ffbd44;"></fa-icon>
            <fa-icon [icon]="faCircle" style="color: #00ca4c;"></fa-icon>
        </span>
    </span>
    
    <p id="main-text-title" class="fade-in">
        Durante o período de estágio tive contato com um ambiente de desenvolvimento com as seguintes tecnologias:
    </p>
    <ul class="main-text">
        <div class="skills-section fade-in">
            <img class="skills-logos" src="assets/csharp-logo.png" alt="C# logo">
            <span class="skills-text">
                Utilizei a linguagem C# juntamente com o framework .NET seguindo padrões de orientação
                a objetos e arquitetura DDD para construir módulos de backend juntamente com ORMs
                e queries para acesso a banco de dados, além disso, escrevia testes unitários para
                garantir a qualidade do código e da aplicação.
            </span>
        </div>
        <div class="skills-section fade-in">
            <img class="skills-logos" src="assets/dotnet-logo.png" style="border-radius: 10px;" alt="dotnet logo">
            <span class="skills-text">
                Juntamente com C#, utilizei o framework .NET para desenvolver APIs robustas
                para o backend da aplicação interna da empresa que estagiei, utilizando tecnologias
                de acesso a banco de dados, autenticação e autorização de usuários,
                documentação de APIs entre outras coisas.
            </span>
        </div>
        <div class="skills-section fade-in">
            <img class="skills-logos" src="assets/typescript-logo.png" alt="typescript logo">
            <span class="skills-text">
                Com a linguagem TypeScript juntamente com o framework Angular desenvolvi
                o frontend dos módulos internos, utilizando a biblioteca do Angular Material para facilitar
                a estilização do layout das aplicações, também escrevi testes unitários para garantir a qualidade
                do código.
            </span>
        </div>
        <div class="skills-section fade-in">
            <img class="skills-logos" src="assets/angular-logo.png" alt="angular logo">
            <span class="skills-text">
                Utilizei o framework Angular para organizar e facilitar o desenvolvimento do frontend das aplicações,
                seguindo um padrão orientado a componentes, módulos, models e services, tornando o desenvolvimento
                das aplicações mais organizado e fácil de dar manutenção.
            </span>
        </div>
        <div class="skills-section fade-in">
            <img class="skills-logos" src="assets/sql-server-logo.png" style="border-radius: 10px;" alt="sql server logo">
            <span class="skills-text">
                Com o banco de dados SQL Server pude manipular os dados que seriam utilizados
                nas aplicações através de ORMs e Queries escritas no backend.
            </span>
        </div>
        <div class="skills-section fade-in">
            <img class="skills-logos" src="assets/azure-devops-logo.png" style="border-radius: 10px;" alt="azure devops logo">
            <span class="skills-text">
                Utilizei o Azure Devops para entrega contínua (CI/CD) do projeto, versionando o código
                através do Git. <br>
                Essa plataforma também serviu para organização e planejamento do time
                que trabalhei junto desenvolvendo e escrevendo estórias de usuário, seguindo a metodologia
                ágil SCRUM.
            </span>
        </div>
        <div class="skills-section fade-in">
            <article class="skills-text">
                <img class="skills-logos" src="assets/usa-icon.png" alt="">
                <article class="english-level">
                    <span>Ingles Intermediário</span>
                    <span class="barra-progresso"></span>
                </article>
            </article>
        </div>
    </ul>
</div>
