.skills-logos {
    width: 100px;
    object-fit: contain;
}

.skills-text {
    text-align: justify;
}

.skills-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 20px;
}

article {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    align-items: center;
    justify-content: left;
}

.english-level {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

ul {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-content: space-around;
    row-gap: 20px;
}

.barra-progresso {
    width: 100%; /* Defina a largura da barra de carregamento pela metade */
    height: 20px; /* Altura da barra de carregamento */
    background: linear-gradient(to right, #f51848 0%, #f51848 50%, #ffffff 50%, #ffffff 100%); /* Gradiente linear com duas cores */
}

@media screen and (max-width: 1080px) {
    ul {
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: 100%;
        align-items: center;
        justify-content: space-around;
    }

    .skills-section {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }
}

@media screen and (max-width: 768px) {

    .skills-logos {
        /* margin: 20px 0 10px; */
        width: 70px;
        object-fit: contain;
    }

    ul {
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: 100%;
        align-items: center;
        justify-content: space-around;
        row-gap: 20px;
    }

    .skills-section {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 20px;
    }

    article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        row-gap: 10px;
    }
    
    .english-level {
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: 100%;
        align-items: start;
        justify-content: center;
    }
}