<div>
    <h1 class="title">Certificações</h1>
</div>
<div class="main-content">
    <span class="language-border main-text">
        <app-loading></app-loading>
        <span>
            <fa-icon [icon]="faCircle" style="color: #ff605c;"></fa-icon>
            <fa-icon [icon]="faCircle" style="color: #ffbd44;"></fa-icon>
            <fa-icon [icon]="faCircle" style="color: #00ca4c;"></fa-icon>
        </span>
    </span>
    
    <p id="main-text-title" class="fade-in">
        Além da faculdade que estou cursando de Análise e Desenvolvimento de Sistemas
        fiz alguns cursos e tirei algumas certificações que me ajudaram a praticar e validar meus conhecimentos,
        os quais obtive tanto na faculdade quanto no estágio.
    </p>
    <section class="main-text fade-in">
        <article>
            <a href="https://www.credly.com/badges/e28469ee-ffdf-4d87-9988-d660f0d026e1/linked_in_profile" target="_blank">
                <img src="assets/az-900-logo.png" alt="" style="width: 100px">
            </a>
            <span>Certificação em Cloud Computing AZ-900: Azure Fundamentals pela Microsoft.</span>
        </article>
        <article>
            <img src="assets/balta-logo.png" alt="" style="width: 100px">
            <span>Fundamentos do C#</span>
        </article>
        <article>
            <img src="assets/balta-logo.png" alt="" style="width: 100px">
            <span>Começando com Angular</span>
        </article>
    </section>
</div>