<div>
    <h1 class="title">Experiências</h1>
</div>

<div class="main-content">
    <span class="language-border main-text">
        <app-loading></app-loading>
        <span>
            <fa-icon [icon]="faCircle" style="color: #ff605c;"></fa-icon>
            <fa-icon [icon]="faCircle" style="color: #ffbd44;"></fa-icon>
            <fa-icon [icon]="faCircle" style="color: #00ca4c;"></fa-icon>
        </span>
    </span>
    
    <p id="main-text-title" class="fade-in">
        Estagiei em uma empresa de consultoria de software de maio de 2022 a dezembro de 2022 (8 meses)
        participando ativamente do desenvolvimento de diversos módulos do sistema interno da empresa,
        cobrindo áreas como RH e Departamento Pessoal.
    </p>
    <p class="main-text fade-in">
        Tive contato com diversas tecnologias e pude aprender
        boas práticas de código e todo um ambiente organizacional, profissional e de negócios, o que me fez
        enxergar como o mercado de TI funciona e o que é esperado do desenvolvedor como profissional.
        <br><br>
        Algumas de minhas atribuições e participações foram:
        <br><br>
        • Participei do desenvolvimento dos módulos internos no frontend, backend, banco de dados e entrega contínua,
        versionando o projeto com Git e seguindo padrões e arquiteturas de desenvolvimento,
        se preocupando também com a qualidade do código e a usabilidade da aplicação.
        <br>
        <img src="assets/csharp-logo.png" alt="">
        <img src="assets/dotnet-logo.png" alt="" style="border-radius: 5px;">
        <img src="assets/typescript-logo.png" alt="">
        <img src="assets/angular-logo.png" alt="">
        <img src="assets/sql-server-logo.png" alt="">
        <img src="assets/git-logo.png" alt="">
        <br>
        • Definição do layout das aplicações desenvolvidas, projetando desde o rascunho até a versão
        final do design das telas, criando uma experiência agradável e 
        intuitiva para os usuários.
        <br>
        <img src="assets/figma-logo.png" alt="">
        <br>
        • Organização do time e do projeto realizada através da metodologia ágil SCRUM,
        reunindo os requisitos e estórias de usuário no Azure Devops, contribuindo com ideias e sugestões
        nas reuniões de equipe, fornecendo atualizações sobre prazos, designs, manutenção de bugs e melhorias.
        <br>
        <img src="assets/azure-devops-logo.png" alt="" style="border-radius: 5px;">   
        <img src="assets/teams-logo.png" alt="">
    </p>
</div>